[submodule "vim.symlink/bundle/Vundle.vim"]
	path = vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "fonts.symlink/powerline-fonts"]
	path = fonts.symlink/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "tmux/tmux-power"]
	path = tmux/tmux-power
	url = https://github.com/wfxr/tmux-power
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
